<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=1024">
	<title><%=lang('site.title')%></title>
	<link type="text/css" rel="stylesheet" href="themes/base/style.css">
</head>
<body>
	<div id="loaderContainer">
		<div id="loader">
			<noscript><%=lang('site.nojs')%></noscript>
		</div>
	</div>
	<div class="topbar shadow">
		<div class="topLeft">
			<span id="activeAppTitle"></span>
		</div>
		<div class="topRight">
			<ul class="menu clearfix">
				<li>
					<div class="searchBar">
						<input id="searchKey" name="searchKey" type="text" value="<%=lang('app.search')%>"/>
						<input id="searchBtn" type="button"/>
						<div id="searchSuggest">
							<div id="localApp">
								<h1 class="appListTitle"><%=lang('app.search.myapp')%>"<span class="key"></span>":</h1>
								<ul></ul>
							</div>
							<hr/>
							<div id="storeApp">
								<h1 class="appListTitle"><%=lang('app.search.storeapp')%>"<span class="key"></span>":</h1>
								<ul></ul>
							</div>
						</div>
					</div>
				</li>
				<li>|</li>
				<li>
					<a href="javascript:;">
						<%=lang('app.running')%>(<span id="runningAppNum">0</span>)
						<span class="more"></span>
					</a>
					<ul id="runningApp" class="list"></ul>
				</li>
				<li>
					<a href="javascript:;">
						<%=lang('app.myapp')%>(<span id="myAppNum">0</span>)
						<span class="more"></span>
					</a>
					<div id="myAppOuter">
						<a id="addApp" href="javascript:;"><%=lang('app.add')%></a>
						<ul id="myApp" class="list"></ul>
					</div>
				</li>
				<li>|</li>
				<li><a href="javascript:;"><%=lang('app.store')%></a></li>
				<li><a href="javascript:;"><%=lang('sys.themes')%></a></li>
				<li><a href="javascript:;"><%=lang('sys.settings')%></a></li>
				<li><a href="javascript:;"><%=lang('user.account')%></a></li>
				<li><a href="/signout"><%=lang('user.signout')%></a></li>
				<li>|</li>
			</ul>
		</div>
	</div>
	<div id="desktop">
		<div id="newAppWin" class="window">
			<header class="winHead">
				<div class="winTitle"></div>
				<ul class="winCtrls">
					<li><a class="winMin" href="javascript:;" title="最小化"></a></li>
					<li><a class="winMax" href="javascript:;" title="最大化"></a></li>
					<li><a class="winClose" href="javascript:;" title="关闭"></a></li>
				</ul>
			</header>
			<div class="winBody">
				<label>应用标题:</label>
				<input id="newAppTitle" name="appTitle" type="text">
				<label>应用地址:</label>
				<input id="newAppUrl" name="appUrl" type="text">
			</div>
		</div>
	</div>
	<% if(uid === '') { %>
	<div id="signContainer">
		<div id="loginPane">
			<form action="signin" method="post" id="loginForm">
				<div class="field clearfix">
					<h1 class="title fl"><%=lang("user.login")%></h1>
					<span id="loginNotice" class="notice fr"></span>
				</div>
				<div class="field">
					<label><%=lang("user.name")%></label>
					<input name="username" type="text" maxlength="12">
				</div>
				<div class="field">
					<label><%=lang("user.pwd")%></label>
					<input name="password" type="password" maxlength="20">
				</div>
				<div class="field">
					<input id="remeberStatus" name="remeber" type="checkbox" checked="checked" value="1">	
					<label id="remeberStatusLabel" for="remeberStatus"><%=lang("user.remlogin")%></label>
				</div>
			<div class="field">
				<button id="loginBtn"><%=lang("user.login")%></button>
			</div>
			</form>
			<div class="changePane">
				<button id="changeReg"><%=lang("user.signup.now")%></button>
			</div>
		</div>
		<div id="regPane">
			<form action="signup" method="post" id="regForm">
				<div class="field clearfix">
					<h1 class="title fl"><%=lang("user.signup")%></h1>
					<span id="regNotice" class="notice fr"></span>
				</div>
				<div class="field">
					<label><%=lang("user.name")%></label>
					<input name="username" type="text" maxlength="12">
				</div>
				<div class="field">
					<label><%=lang("user.pwd")%></label>
					<input id="regPwd" name="password" type="password" maxlength="20">
				</div>
				<div class="field">
					<label><%=lang("user.repwd")%></label>
					<input name="repassword" type="password" maxlength="20">
				</div>
			<div class="field">
				<button id="regBtn"><%=lang("user.signup.now")%></button>
			</div>
			</form>
			<div class="changePane">
				<button id="changeLogin"><%=lang("user.gotologin")%></button>
			</div>
		</div>
	</div>
	<% } %>
	<script type="text/javascript" src="libs/jquery-1.7.1.js"></script>
	<script type="text/javascript" src="libs/jquery.validate.js"></script>
	<script type="text/javascript" src="js/config.js"></script>
	<script type="text/javascript" src="js/event.js"></script>
	<script type="text/javascript">bingos.uid = '<%=uid%>';</script>
	<script type="text/javascript" src="js/sign.js"></script>
	<script type="text/javascript" src="js/topbar.js"></script>
	<script type="text/javascript" src="js/window.js"></script>
	<script type="text/javascript" src="js/app.js"></script>
	<script type="text/javascript" src="js/main.js"></script>
</body>
</html>